{% load i18n %}
{% load donation_tags %}

{% if state == 'APPROVED' or perms.tracker.view_comments %}
	{{ comment|forumfilter }}<hr>
{% endif %}
{% if state == 'PENDING' %}
	<i class="fa text-gdq-black fa-question-circle"></i> ({% trans "Comentário Aguardando Aprovação" %})
{% elif state == 'DENIED' %}
	<i class="fa text-gdq-red fa-times-circle"></i> ({% trans "Comentário Rejeitado" %})
{% elif state == 'ABSENT' %}
  	<i class="fa text-gdq-blue fa-circle-o"></i> ({% trans "Sem Comentário" %})
{% endif %}

