{% extends "base.html" %}
{% load i18n %}

{% load donation_tags %}

{% block title %}
  Confirmação de Registro no Tracker
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
  {% if not formuser %}
    <p> ERRO: Usuário não existe.</p>
  {% elif formuser.is_active == True %}
    <p> ERRO: Conta de usuário já está ativa.</p>
  {% elif not tokenmatches %}
    <p> ERRO: Você precisa possuir um token de autenticação válido.</p>
  {% else %}
    <p>Por favor insira seu username e senha.</p>
    {% standardform form "form" "Submit" %}
  {% endif %}
{% endblock %}

