{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}
        {{ event.name|title }} -- Doar / Donate
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}donate.css" />

  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

  <script src="{{ STATIC_URL }}jquery.formset.js"></script>
  <script src="{{ STATIC_URL }}donationbids.js"></script>

  <script>


    BIDS = {{ bidsJson|safe }};
    PRIZES = {{ ticketPrizesJson|safe }};

    donationTotal = 0;
    totalBidsAllocated = 0;
    totalPrizeAllocated = 0;

    function bidLabel(bid) {
      return bid['label'];
    }

    function bidDetailText(bid) {

      var parents = Array();

      if ('parent' in bid)
      {
        var parent = bid['parent'];
        while (parent != null) {
          parents.push(parent);
          if ('parent' in parent) {
            parent = parent['parent'];
          } else {
            parent = null;
          }
        }
        parents.reverse();
      }

      parents.push(bid);

      var text = "";

      for (var i = 0; i < parents.length; ++i)
      {
        text += "<ul><li>"
        text += parents[i]['name'];

        if (parents[i]['description']) {
          text += "<br />Descrição / Description: " + parents[i]['description'];
        }
      }

      for (var i = 0; i < parents.length; ++i)
      {
        text += "</li></ul>";
      }

      return text;
    }

    var donationBidsFilter = new MegaFilter( BIDS, ["suggested", 'custom'], ['name', 'description', 'runname'], bidLabel, bidDetailText);

    function prizeLabel(prize) {
      var result = prize['name'] + ' $' + prize['minimumbid']; // etc...
      if (prize['maximumbid'] !== null && prize['maximumbid'] != prize['minimumbid']) {
        result += ' - $' + prize['maximumbid'];
      }
      if (prize['sumdonations']) {
        result += ' (sum)';
      }
      return result;
    }

    function prizeDescription(prize) {
      return prize['description'];
    }

    var prizeFilter = new MegaFilter( PRIZES, null, ['name', 'description'], prizeLabel, prizeDescription);

    function bidsAmountUpdate() {
      {% if hasBids %}
        totalBidsAllocated = 0;
        $(".cdonationbidamount").each(function(i, obj) {
          var num = parseFloat($(obj).val());
          if (!isNaN(num) && num > 0)
          {
            totalBidsAllocated += num;
          }
        });

        setBidsAmountDisplay();
      {% endif %}
    }

    function setBidsAmountDisplay() {
      donationTotal = parseFloat($("#iDonationAmount").val());

      if (isNaN(donationTotal)) {
        donationTotal = 0;
      }

      var txtColor = "Black";

      if (totalBidsAllocated > donationTotal) {
        txtColor = "Red";
      }

      $("#totalallocated").get(0).style.color = txtColor;
      $("#totalallocated").html(totalBidsAllocated.toFixed(2));
      $("#donationtotal").html(donationTotal.toFixed(2));

      $("#totalremaining").html((donationTotal - totalBidsAllocated).toFixed(2));
      $("#totalremaining").get(0).style.color = txtColor;
    }

    function prizeAmountUpdate() {
      {% if hasTicketPrizes %}
        totalPrizeAllocated = 0;
        $(".cprizeamount").each(function(i, obj) {
          var num = parseFloat($(obj).val());
          if (!isNaN(num) && num > 0)
          {
            totalPrizeAllocated += num;
          }
        });

        setPrizeAmountDisplay();
      {% endif %}
    }

    function setPrizeAmountDisplay() {

      donationTotal = parseFloat($("#iDonationAmount").val());

      if (isNaN(donationTotal)) {
        donationTotal = 0;
      }

      var txtColor = "Black";

      if (totalPrizeAllocated > donationTotal) {
        txtColor = "Red";
      }

      $("#totalprizeallocated").get(0).style.color = txtColor;
      $("#totalprizeallocated").html(totalPrizeAllocated.toFixed(2));
      $("#prizedonationtotal").html(donationTotal.toFixed(2));

      $("#totalprizeremaining").html((donationTotal - totalPrizeAllocated).toFixed(2));
      $("#totalprizeremaining").get(0).style.color = txtColor;
    }

    function validateDonationForm() {

      // TODO: this would otherwise only get set when setting the
      // display values for the prize/bid entries, we may want to
      // restructure that
      donationTotal = parseFloat($("#iDonationAmount").val());

      var validBids = true;
      var validBidsAmount = true;
      var enoughBidMoney = true;

      $(".topleveldonationbidformsetform").each(function(i, obj) {
        idInput = $(obj).find(".mf_selection").get(0);
        amountInput = $(obj).find(".cdonationbidamount").get(0);
        if (($(amountInput).val() || $(idInput).val())){

          if (!($(amountInput).val())) {
            validBidsAmount = false;
          }
          else
          {
            if ($(amountInput).val() <= 0) {
              enoughBidMoney = false;
              window.alert("Por favor insira um valor positivo neste incentivo / Please enter a positive amount for this bid.");
              return false;
            }
          }

          if (!($(idInput).val())) {
            validBids = false;
          }
        }
      });

      var validPrize = true;
      var validPrizeAmount = true;
      var enoughPrizeMoney = true;

      $(".toplevelprizeticketformsetform").each(function(i, obj) {
        idInput = $(obj).find(".mf_selection").get(0);
        amountInput = $(obj).find(".cprizeamount").get(0);

        if (($(amountInput).val() || $(idInput).val())){

          prize = prizeFilter.getObjectById($(idInput).val());

          if (!($(amountInput).val())) {
            validPrizeAmount = false;
          }
          else {
            if ($(amountInput).val() < 0) {
              enoughPrizeMoney = false;
              window.alert("Por favor insira um valor não-negativo / Please enter a non-negative amount.");
              return false;
            }
            else if (!prize['sumdonations'] && $(amountInput).val() < prize['minimumbid']) {
              enoughPrizeMoney = false;
              window.alert("É necessário doar no mínimo (Must donate at least) $" + String(prize['minimumbid']) + " para ser elegível para (to be eligible for) " + prize['name']);
              return false;
            }
          }
          if (!($(idInput).val())) {
            validPrize = false;
          }
        }
      });

      var visibility = $("#id_requestedvisibility").val();
      var alias = $("#id_requestedalias").val();

      if (visibility == "ALIAS" && !alias)
      {
        window.alert("Insira um apelido para usar a visibilidade somente apelido. Must provide an alias when selecting alias only visibility");
        return false;
      }

      if (!validBidsAmount) {
        window.alert("Insira um valor para colocar no incentivo. Must input an amount to assign to the bid.");
        return false;
      }

      if (!validPrizeAmount) {
        window.alert("Insira um valor para colocar no prêmio. Must input an amount to assign to the prize.");
        return false;
      }

      if (!validBids) {
        window.alert("Selecione um incentivo. Must select a bid.");
        return false;
      }

      if (!validPrize) {
        window.alert("Selecione um prêmio. Must select a prize.");
        return false;
      }

      if (!enoughBidMoney) {
        return false;
      }

      if (!enoughPrizeMoney) {
        return false;
      }

      if (isNaN(donationTotal) || donationTotal <= 0) {
        window.alert("O valor de doação precisa ser positivo. Donation value must be a positive number.");
        return false;
      }

      if (totalBidsAllocated > donationTotal) {
        window.alert("O total alocado precisa ser menor que o valor da doação. Total allocated must be less than donation amount.");
        return false;
      }

      return true;
    }

    function createNewOptionCallback(obj) {
      var fieldDiv = $(obj).find(".mf_newoption").get(0);

      return function(bid) {
        if ("custom" in bid) {
          $(fieldDiv).show();
        } else {
          $(fieldDiv).hide();
        }
      }
    }

    function onAddBidAssignmentWidget(obj) {
      var widgetDiv = $(obj).find(".mf_widget.mf_model_bidtarget").get(0);
      console.log('Here')
      donationBidsFilter.applyToWidget(widgetDiv, createNewOptionCallback(obj));
      numBlocks = $(".topleveldonationbidsformsetform").length;
      if (numBlocks >= 10) {
         $(".add-row").css("display", "none");
      }
    }

    function onAddPrizeAssignmentWidget(obj) {
      var widgetDiv = $(obj).find(".mf_widget.mf_model_prize").get(0);
      prizeFilter.applyToWidget(widgetDiv);
      numBlocks = $(".toplevelprizeticketformsetform").length;
      if (numBlocks >= 10) {
         $(".add-row").css("display", "none");
      }
    }

    $(document).ready(function() {

      $(".topleveldonationbidformsetform").each(function(fI, formObj) {
        $(".mf_widget.mf_model_bidtarget").each(function(i, obj) {
          donationBidsFilter.applyToWidget(obj, createNewOptionCallback(formObj));
        });
      });

      $(".mf_newoption").each(function(i, obj) {
        $(obj).hide();
      });

      $(".mf_widget.mf_model_prize").each(function(i, obj) {
        prizeFilter.applyToWidget(obj);
      });


      $(".cdonationbidamount").each(function(i, obj) {
        $(obj).unbind();
        $(obj).bind("keyup input", bidsAmountUpdate);
      });

      $(".cprizeamount").each(function(i, obj) {
        $(obj).unbind();
        $(obj).bind("keyup input", prizeAmountUpdate);
      });

      $("#iDonationAmount").each(function(i, obj) {
        $(obj).unbind();
        $(obj).bind("keyup input", function(){ bidsAmountUpdate(); prizeAmountUpdate(); });
      });

      bidsAmountUpdate();
      prizeAmountUpdate();
    });

  </script>

{% endblock %}
{% block content %}

{% block nav %}
{% endblock %}

<div id="container">

		<h1>Doações para {{event.name}} / Donations for {{event.name}}</h1>
		<p>Obrigado por doar durante o evento {{event.name}}! Por favor leia as instruções com atenção, pois elas foram atualizadas.

    Thank you for donating during the {{event.name}} event! Please read the instructions carefully, as they have changed from previous events. </p>
		<br />
		<br />

		{% if prizes %}
		<h1>Prêmios para os quais você está elegível: / Prizes you are eligible for right now:</h1>
		<table style="border: 1">
			<tr><th>Prêmio/Prize</th><th>Imagem/Image</th><th>Mínimo/Minimum</th></tr>
			{% for prize in prizes %}
				<tr><td>{{ prize }}</td><td>{% if prize.image %}<a href="{{ prize.image }}">Link</a>{% endif %}</td><td>{{ prize.minimumbid|money }}</td></tr>
			{% endfor %}
		</table>
		<br />
		<p>Não é necessária uma doação para concorrer. Veja as <a target="_blank" href="https://gamesdonequick.com/sweepstakes">regras de sorteio</a> para detalhes e instruções.

    No donation necessary for a chance to win. See <a target="_blank" href="https://gamesdonequick.com/sweepstakes">sweepstakes rules</a> for details and instructions.</p>
		{% endif %}
		<br />

<form id="bidsform" action="{% url 'tracker.views.donate' event.short %}" method="post" onsubmit="return validateDonationForm();">
  {% csrf_token %}

  <div id="left">
    <h2>Sua doação / Your donation</h2>
    <p>Atenção, doações podem levar vários minutos para serem concluídas. Por favor não use linguagem ofensiva ou palavrões, pois os comentários das doações são exibidos ao público e serão removidos do site se forem impróprios.

    Note that donations may take several minutes to be collected! Using e-check donations
		are not recommended, as your donation will be delayed by several days. Please refrain from offensive language or hurtful remarks, all donation comments are screened and will
		be removed from the website if deemed unacceptable.</p>
    <span style="color:red">
    {{ commentform.non_field_errors }}
    </span>
    {% for field in commentform.visible_fields %}
        <span style="color:red">
        {{ field.errors }}
	</span>
        <br />
        {{ field.label_tag }}
        <br />
        {{ field }}
    {% endfor %}

    {{ bidsform.management_form }}
  </div>

  <div id="right">
    {% if hasBids %}
    <div id="bidsTab">
      <h2>Incentivos de Aumento de Dificuldade e Escolha do Público / Bidding Challenges/Choices</h2>
      <p>Esta seção lhe permite colocar sua doação para alguns dos vários desafios e escolhas. Escolha o incentivo que você deseja colocar (a filter box vai ajudar a encontrá-lo), selecione-o, 
      e insira o valor da sua doação que será aplicada ao incentivo. Se você deseja escolher um <strong>nome</strong>, você terá que usar a caixa de sugestão de incentivo na esquerda, devido a limitações do software. Você poderá dividir sua doação em até 10 maneiras clicando no link "Adicionar Outro".

      This section allows you to put your donation to one of our many challenges and choices. Find the choice you wish to use (the filter box will help you find it), select it,
      and enter the amount of your donation you want to apply to that choice. If you wish to choose a <strong>name</strong>, you will need to use the bid suggestion box on the left, due to software limitations. You may split your donation up as many as 10 ways by clicking the "Add Another" link. </p>
      <p>Se você não tem certeza sobre em que colocar seu dinheiro, clique no dropdown 'Group' e selecione 'Suggestions', nós iremos adicionar as opções mais escolhidas! (exemplo: Escolha do Runner)

      If you aren't sure what to put your money towards, click the 'Group' dropdown and select 'Suggestions', we may periodically add house favorites! (e.g. Runner's Choice)</p>
      <p>Você <strong>não</strong> precisa indicar um prêmio ao fazer sua doação. Você automaticamente estará concorrendo a todos os prêmios que você esteja elegível no momento 
      em que sua doação é recebida por nós. 

      You do <strong>not</strong> need to put your donation towards a prize. You are automatically entered into any prize you are eligible for at the time the donation is
      received by us.</p>

      <div id="info">
        Total Allocated: $<span id="totalallocated"></span> / $<span id="donationtotal"></span>
        <br />
        Remaining: $<span id="totalremaining"></span>
      </div>

      {% for form in bidsform %}
        <div class="topleveldonationbidformsetform">
          <br />
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <span style="color:red">
        {{ form.non_field_errors }}
        </span>
        {% for field in form.visible_fields %}
          <div{% if field.name == 'customoptionname' %} class="mf_newoption"{% endif %}>
            <span style="color:red">
            {{ field.errors }}
            </span>
            {{ field.label_tag }} {{ field }}
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
    <br />
    {% endif %}

    {% if hasTicketPrizes %}
    <div id="prizesTab">
      <h2>Tickets para Prêmios / Prize Tickets</h2>
      <p>Esta seção lhe permite colocar sua doação para tentar ganhar um prêmio. Selecione o prêmio que quiser (use a filter box para encontrá-lo), e insira o valor da sua doação que você deseja aplicar no mesmo. Você pode dividir a sua doação em até 10 maneiras clicando no link "Adicionar Outro". Por favor verifique o valor mínimo correto para conseguir no mínimo uma tentativa para seus prêmios.

      This section allows you to put your donation towards winning a prize. Select the prize you wish to use (the filter box will help you find it), select it, and enter the amount of your donation you want to apply towards it. You may split your donation up as many as 10 ways by clicking the "Add Another" link. Please note the minimum amounts required to get at least one entry towards the prize.</p>

      <div id="info">
        Total Alocado / Total Allocated: $<span id="totalprizeallocated"></span> / $<span id="prizedonationtotal"></span>
        <br />
        Restante / Remaining: $<span id="totalprizeremaining"></span>
      </div>

      {% for form in prizesform %}
        <div class="toplevelprizeticketformsetform">
          <br />
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <span style="color:red">
        {{ form.non_field_errors }}
        </span>
        {% for field in form.visible_fields %}
          <div>
            <span style="color:red">
            {{ field.errors }}
            </span>
            {{ field.label_tag }} {{ field }}
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
    <br />
    {% endif %}

    {{ prizesform.management_form }}
  </div>

  <p><input type="submit" value="Doar / Donate!" /></p>
</form>

<script>
$(function() {
  $('#bidsform div.topleveldonationbidformsetform').formset({'added': onAddBidAssignmentWidget, 'addText': 'Adicionar Outro / Add Another', 'removed': bidsAmountUpdate, prefix: '{{ bidsform.prefix }}', formCssClass: 'dynamic-bidsform'});
  $('#bidsform div.toplevelprizeticketformsetform').formset({'added': onAddPrizeAssignmentWidget, 'addText': 'Adicionar Outro / Add Another', 'removed': prizeAmountUpdate, prefix: '{{ prizesform.prefix }}', formCssClass: 'dynamic-prizesform'});
})
</script>

<div id="footer">
  <h2>Brazilians Against Time - Event Tracker</h2>
</div>

{% endblock %}
