{% extends "base.html" %}
{% load donation_tags %}
{% load i18n %}


{% block title %}
	{{ event.name|title }} -- {% trans "Início" %}
{% endblock %}

{% block head %}
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}queueindex.css" />-->
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
{% endblock %}

{% block content %}
<h2 class="text-center">
	{{ event.name|title }}
	<br />
	<small>
		{% trans "Total de Doações" %}:
	{{ agg.amount|money }} ({{ agg.count }}) &mdash;
		{% trans "Máx/Média por Doação" %}:
	{{ agg.max|money }}/{{ agg.avg|money }}
	</small>
</h2>
<div class="col-xs-4 col-xs-offset-4">
<p class="center-block"><br /></p>
<p class="center-block"><a class="btn btn-default btn-block" href="{% url 'tracker.views.runindex' event=event.short %}">{% trans "Ver Runs" %} ({{ count.runs }})</a></p>
<p class="center-block"><a class="btn btn-default btn-block" href="{% url 'tracker.views.prizeindex' event=event.short %}">{% trans "Ver Prêmios" %} ({{ count.prizes }})</a></p>
<p class="center-block"><a class="btn btn-default btn-block" href="{% url 'tracker.views.bidindex' event=event.short %}">{% trans "Ver Incentivos" %} ({{ count.bids }})</a></p>
<p class="center-block"><a class="btn btn-default btn-block" href="{% url 'tracker.views.donorindex' event=event.short %}">{% trans "Ver Doadores" %} ({{ count.donors }})</a></p>
<p class="center-block"><a class="btn btn-default btn-block" href="{% url 'tracker.views.donationindex' event=event.short %}">{% trans "Ver Doações" %} ({{ agg.count }})</a></p>
<p class="center-block"><a class="btn btn-info btn-block" href="{% url 'tracker.views.eventlist' %}">{% trans "Selecionar Outro Evento" %}</a></p>
<br />
{% if event.id != None and not event.locked %}
	<p class="center-block"><a class="btn btn-lg btn-success btn-block" href="{% url 'tracker.views.donate' event.short %}">Doar</a></p>
{% endif %}
</div>
{% endblock %}

{% block cssfooter %}

{% endblock %}


{% block login %}
{% include "tracker/language.html" %}
{% endblock %}

{% block rendertime %}
{% if perms.tracker.show_rendertime %}
<p class="center-block">
{% rendertime starttime %}
</p>
{% endif %}
{% endblock %}
