{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}
    Email de Confirmação Enviado
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
  <!--<p>An e-mail has been sent to your address. It should appear in the next 20 minutes. Follow the link contained inside to complete registration.</p>-->
  <p>Um e-mail foi enviado para você. Ele deve aparecer nos próximos 20 minutos. Clique no link contido nele para completar o registro.</p>
{% endblock %}