{% extends "tracker/index.html" %}
{% load donation_tags %}
{% load i18n %}

{% block title %}{% trans "Meu Menu" %}{% endblock %}

{% block content %}

<h3>Opções do Meu Menu</h3>

{% if not eventList %}
  Não há eventos para exibir
{% else %}

<small>(Clique em um evento para expandir/encolher)</small>

{% for eventInfo in eventList %}
<h5><a data-toggle="collapse" href="#{{ eventInfo.event.short}}_div">{{ eventInfo.eventname }} {% if eventInfo.event.locked %}(past event){% endif %}</a></h5>
<div id="{{ eventInfo.event.short}}_div" class="collapse{% if not eventInfo.event.locked %} in{% endif %}">
  <ul>
  {% if eventInfo.submission %}
    <li><a href="{% url 'tracker.views.submit_prize' event=eventInfo.eventid %}">Enviar prêmio para {{ eventInfo.eventname }}</a></li>
  {% endif %}
  
  {% if eventInfo.prizes %}
    <li> Prêmios que você enviou:
      <ul>
      {% for prize in eventInfo.prizes %}
        <li><a href="{% url 'tracker.views.user_prize' prize=prize.id %}">{{ prize.name }}</a>
        {% if prize.state == 'PENDING' %}
            <small>(esperando confirmação)</small>
        {% elif prize.state == 'DENIED' %}
            <small style="color:red">(Rejeitado)</small>
        {% elif prize.is_pending_shipping > 0 %}
            <small>(aguardando recebimento)</small>
        {% elif prize.is_fully_shipped %}
            <small>(recebimento confirmado)</small>
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endif %}
  
  </ul>
</div>
{% endfor %}

{% endif %}

<br />
<a href="{% url 'tracker.views.logout' %}">Log Out</a>
<br />

{% endblock %}
